<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />

	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />

</head>

<body>

	<main id='content'>
		{{> story/intro }}
		{{> story/properties }}
		{{> story/climate }}
		{{> story/zip }}
		{{> story/fema }}
	</main>


	<script src='{{basepath}}assets/scripts/d3.v5.12.0.min.js'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js'></script>

	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>


	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
