<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

	<!-- {{> base/header 'sticky'}} -->

	<main id='content'>
		{{> story/table }}
		{{> story/zip }}
		{{> story/county }}
		{{> story/intro }}
		{{> story/bars }}

	</main>

	<!-- {{> base/footer }} -->


	<script src='{{basepath}}assets/scripts/d3.v5.12.0.min.js'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>