.bar-wrapper 
    padding 0 1rem
    margin 0 auto
    .figure__wrapper
        display flex 
        flex-direction row 
        flex-wrap wrap
        figure 
            max-width 400px
            margin 0 2rem
    .g-bar 
        display flex 
        flex-direction row 
        align-items center 
        border-left 1px solid $off-black
        margin 1rem 0
        padding 0.25rem 0
        .bar-desc 
            font-family $atlas 
            set-type-size('small')
            width 40%
            margin 0
            padding 0 0.5rem
            font-weight normal
        .bar-name 
            order 0
    .bar-container 
        display flex 
        flex-direction row-reverse
        align-items center
        width 60%
    .bar 
        height 40px 
        background-color $fs
        display flex 
        justify-content flex-start
        align-items center 
        &-percent 
            background-color lighten($gray-light, 10)
        &-FEMA 
            background-color $fema
        p
            set-type-size('root')
            margin 0
            padding 0 0 0 0.25rem
            text-align right 
            font-family $atlas
    .bar__figure-multi
        .g-bar 
            border-left none
            margin 0.5rem auto
        .text-group 
            min-width 30%
            p
                text-align right
                margin 0
                width 100%
        .bar-container 
            margin-right 1rem
            .bar 
                height 20px
        