#mapbox-map
	width 100vw
	height 50vh

body
.intro
	padding-top 3rem
	margin 0 auto
	font-family $lyon
	.hed
		font-size 72px
		text-align center
		font-family $lyon-display
		margin 0 auto
		line-height 1
		padding 0
		margin-bottom 1rem
		font-weight 300
	.dek
		font-size 36px
		text-align center
		margin 0 auto
		padding 0
	.update-date
		font-size 14px
		font-family $atlas
		text-align center
		margin 0 auto
		padding 0
		margin-top 3rem
		margin-bottom 3rem

	p
		font-size 48px
		margin 0 auto
		margin-bottom 10rem
		padding 1rem 2rem
