#mapbox-map
	width 100vw
	height 50vh

body
.intro
	margin 0 auto
	font-family $national
	p
		font-size 48px
		margin 0 auto
		margin-bottom 10rem
		padding 1rem 2rem
		max-width 570px


	&__hed
		max-width 60rem
		margin 0 auto
		text-align center

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
