#mapbox-map
	width 100vw
	height 50vh

body
.intro
	padding-top 3rem
	margin 0 auto
	font-family $lyon
	text-align left
	max-width $column-width
	width 95%
	border-bottom 1px solid #ddd
	margin-bottom 3rem
	.hed
		font-size 72px
		font-family $lyon-display
		margin 0 auto
		line-height 1
		padding 0
		margin-bottom 1rem
		font-weight 300
	.dek
		font-size 36px
		margin 0 auto
		padding 0
	.update-date
		font-size 14px
		font-family $atlas
		margin 0 auto
		padding 0
		margin-top 3rem
		margin-bottom 1.5rem

	p
		font-size 18px
		margin 0 auto
		margin-bottom 2rem
		padding 0
