.search 
    background-color rgba($gray-light, 0.2)
    .autocomplete [role=listbox] 
        max-height 12em
        overflow-y scroll
    ul
        display block
        &.hidden 
            display none
