.subsection-hed
  font-size 24px
  font-family $atlas
  margin 0
  padding 0
  margin-top 3rem
  margin-bottom .5rem
  font-weight 400

.subsection-dek
  margin 0
  padding 0
  font-size 16px


main
  .mapboxgl-ctrl-geocoder
    box-shadow none
    width 100%
    margin 0
    max-width none
    input
      font-family $atlas
      width 100%
      border 1px solid #ccc
      box-shadow inset 2px 2px 5px rgba(0, 0, 0, 0.05)
      border-radius 5px
      height 36px
      font-weight 400
      padding-left 2rem
      &::placeholder
        font-family $atlas
    .suggestions-wrapper
      ul
        li
          font-family $atlas
          .mapboxgl-ctrl-geocoder--suggestion
            font-size 13px





main
  background rgb(255, 254, 252)
p
  margin 0 auto
/* CUSTOM STORY STYLE */
section
  max-width $column-width
  width 95%
  margin 0 auto
  border-bottom 1px solid #ddd
  padding-bottom 3rem

.section-hed
  font-family $atlas
  font-size 36px
  margin 0 auto
  padding 0
  margin-bottom 1rem
.section-dek
  font-size 18px
  margin 0 auto
  font-family $lyon
  padding 0


.table-wrapper
  margin-top 2rem

.meta-title
  font-family $atlas
  set-type-size('xxx-large')
  font-weight 500
  text-align center

.meta-sub
  font-family $atlas
  set-type-size('large')
  text-align center

.embed
  font-size 16px
  text-align left
  margin 0
  padding 0
  font-weight 400
  margin-top 1.5rem
  font-family $atlas
  display none

.figure__desc
  font-size 16px
  text-align left
  margin 0
  padding 0
  width 90%
  font-weight 400
  margin-top 1.5rem
  font-family $atlas
  span
    font-weight 600
  .FEMA
    color $fema-text
  .FS
    color $fs-text

.controls-container
  display flex
  flex-direction row
  align-items baseline
  justify-content flex-start
  margin-bottom 2rem
  margin-top 2rem
  .controls-directions
    font-size .8rem
    letter-spacing .2px
    text-transform uppercase
    font-family $atlas
    margin 0
    padding 0
    margin-right 1rem

  .controls-buttons
    input[type=radio]
      opacity 0
      position absolute
      margin 0
    label
      font-family $atlas
      set-type-size('small')
      font-weight bold
      padding 0.5rem 1rem
      border 1px solid $gray-light
      background-color $white
      margin 0
      user-select none
      margin-left -8px
      cursor pointer
      color #999
      &:first-of-type
        border-radius 5px
        padding-right calc(1rem + 5px)
      &:last-of-type
        border-top-right-radius 5px
        border-bottom-right-radius 5px


    input:checked + label
        background-color "white"
        color black
.climate-section, .fema-section
  margin-top 3rem
