/* CUSTOM STORY STYLE */
.section-hed
  font-family $atlas
  font-size 24px
  margin 0 auto
  text-align center
  padding 0
.section-dek
  font-size 18px
  margin 0 auto
  font-family $lyon
  text-align center
  padding 0

.table-wrapper, .graphic-wrapper
  display flex
  flex-wrap wrap
  justify-content center

.climate-section, .fema-section
  margin-top 5rem
