.embed
  background white
  .intro, section
    display none
  .section-hed, .section-dek, .subsection-hed, .subsection-dek, .map-wrapper, .bar-wrapper, .embed-button-wrapper, .graphic-wrapper, .bar-wrapper, .fema-compare-wrapper
    display none

.fema-table
  height 100%
  .fema-section
    display block
    border none
    margin 0
    padding 0
    height 100%
    .graphic-wrapper
      display block
      border none
      margin 0
      padding 0
      height 100%
      .bar-wrapper
        display block
        margin 0
        padding 0
        height 100%

.fema-compare-map
  height 100%
  .fema-section
    display block
    border none
    margin 0
    padding 0
    height 100%
    .graphic-wrapper
      display block
      border none
      margin 0
      padding 0
      height 100%
      .fema-compare-wrapper
        display block
        display flex
        flex-direction column
        height 100%
        #fema-map
          height 1px
          flex-grow 1



.albers
  background white
  height 100%
  .climate-section
    display block
    border none
  .gif-wrapper, .section-hed, .section-dek, .climate-map
    display none
  .county-map, .climate-section, .map,.graphic-wrapper
    display block
    max-width 100%
    width 100%
    height 100%
  .county-map
    .title-wrapper
      justify-content center
    .map
      height 100%


.subsection-hed
  font-size 24px
  font-family $atlas
  margin 0
  padding 0
  margin-top 3rem
  margin-bottom .5rem
  font-weight 400

.subsection-dek
  margin 0
  padding 0
  font-size 16px

main
  .mapboxgl-ctrl-geocoder
    box-shadow none
    width 100%
    margin 0
    max-width none
    input
      font-family $atlas
      width 100%
      border 1px solid #ccc
      box-shadow inset 2px 2px 5px rgba(0, 0, 0, 0.05)
      border-radius 5px
      height 36px
      font-weight 400
      padding-left 2rem
      &::placeholder
        font-family $atlas
    .suggestions-wrapper
      ul
        li
          font-family $atlas
          .mapboxgl-ctrl-geocoder--suggestion
            font-size 13px


main
  background rgb(255, 254, 252)
p
  margin 0 auto
/* CUSTOM STORY STYLE */
section
  max-width $column-width
  width 95%
  margin 0 auto
  border-bottom 1px solid #ddd
  padding-bottom 3rem

.section-hed
  font-family $atlas
  font-size 36px
  margin 0 auto
  padding 0
  margin-bottom 1rem
.section-dek
  font-size 18px
  margin 0 auto
  font-family $lyon
  padding 0


.table-wrapper
  margin-top 2rem

.meta-title
  font-family $atlas
  set-type-size('xxx-large')
  font-weight 500
  text-align center

.meta-sub
  font-family $atlas
  set-type-size('large')
  text-align center

.figure__desc
  font-size 16px
  text-align left
  margin 0
  padding 0
  width 90%
  font-weight 400
  margin-top 1.5rem
  font-family $atlas
  span
    font-weight 600
  .FEMA
    color $fema-text
  .FS
    color $fs-text

.controls-container
  display flex
  flex-direction row
  align-items baseline
  justify-content flex-start
  margin-bottom 2rem
  margin-top 2rem
  .controls-directions
    font-size .8rem
    letter-spacing .2px
    text-transform uppercase
    font-family $atlas
    margin 0
    padding 0
    margin-right 1rem

  .controls-buttons
    input[type=radio]
      opacity 0
      position absolute
      margin 0
    label
      font-family $atlas
      set-type-size('small')
      font-weight bold
      padding 0.5rem 1rem
      border 1px solid $gray-light
      background-color $white
      margin 0
      user-select none
      margin-left -8px
      cursor pointer
      color #999
      &:first-of-type
        border-radius 5px
        padding-right calc(1rem + 5px)
      &:last-of-type
        border-top-right-radius 5px
        border-bottom-right-radius 5px


    input:checked + label
        background-color "white"
        color black
.climate-section, .fema-section
  margin-top 3rem

.embed-button-wrapper
  display flex
  width 100%
  .embed-button
    border-radius 3px
    border 1px solid #aaa
    box-shadow rgba(15, 15, 15, 0.1) 0px 1px 2px
    padding .5rem 1rem
    font-size 16px
    font-family $atlas
  .embed-input-wrapper
    display flex
    flex-grow 1
    width 1px
    p
      font-family $atlas
      align-self center
      width 100px
      font-size 14px
      line-height 1.2
      text-align right
      margin-right 10px
      margin-left 30px
      font-weight 400
    textarea
      font-size 12px
      font-family $atlas
      width 1px
      flex-grow 1
      border-radius 3px
      border 1px solid #aaa
      box-shadow rgba(15, 15, 15, 0.1) 0px 1px 2px
