#city-cluster
  width 500px
  height 300px
  margin 0 auto
  margin-top 2rem
  margin-bottom 4rem


.map-wrapper
  max-width 500px
  margin-top 3rem
  margin-left 2rem
  .mapboxgl-map
    overflow visible
    canvas
      outline none
      user-select none
  &:first-of-type
    margin-left 0
.map, .county-map
  height 300px
  width 500px
  display block
  position relative
  overflow visible
  .map-tooltip
    position absolute
    width 130px
    height auto
    background #f7f7f7
    padding .5rem
    border-radius 5px
    box-shadow 1px 1px 5px rgba(0,0,0,.2)
    border 1px solid #aaa
    pointer-events none
    transform translate(-50%, 30px)
    display none
    z-index 100000
    p
      font-size 11px
      margin 0
      padding 0
      text-align center
      $atlas
      &:first-of-type
        font-weight 600
        font-size 14px
.map-title
  font-size 18px
  font-family $atlas
  margin 0 auto
  width 100%
  font-weight 400
  padding 0
  span
    font-weight 600
.legend
  display flex
  margin-top 10px
  justify-content center
  margin-bottom 10px
  .legend-colors
    display flex
    margin 0 10px
    .legend-item
      height 5px
      width 20px
      align-self center
  .legend-text
    font-family $atlas
    margin 0
    padding 0
    line-height 1
    font-size 12px
    font-weight 400px
    align-self center
