<section class="climate-section">
  <p class="section-hed">How will climate change increase flood risk?</p>
  <p class="section-dek">How is flooding affecting your community</p>
  <div class="graphic-wrapper">

    <div class="map-wrapper climate-map-county">
      <p class="map-title">In many parts of the US, flood risk will <span>increase</span> over the next 30 years.</p>
      <div class="legend">
      </div>
      <div class="map">
      </div>
    </div>
    <div class="map-wrapper climate-map-zip">
      <p class="map-title">In many parts of the US, flood risk will <span>increase</span> over the next 30 years.</p>
      <div class="legend">
      </div>
      <div class="map">
      </div>
    </div>


  </div>

</section>
