<section class="fema-section">
    <p class="section-hed">How does flood risk compare to FEMA’s estimations?</p>
    <p class="section-dek">How is flooding affecting your community</p>
    <div class="graphic-wrapper">

        <div class="map-wrapper fema-map-county">
            <p class="map-title">In many parts of the US, flood risk will <span>increase</span> over the next 30 years.
            </p>
            <div class="legend">
            </div>
            <div class="map">
            </div>
        </div>
        <div class="map-wrapper fema-map-zip">
            <p class="map-title">In many parts of the US, flood risk will <span>increase</span> over the next 30 years.
            </p>
            <div class="legend">
            </div>
            <div class="map">
            </div>
        </div>

        <div class="bar-wrapper" data-js="bars">
            <div class='bar__controls-container controls-container' data-js="bar__controls">
                <p class='controls-directions' id='button-directions'>View data for:</p>
                <div class='controls-buttons' aria-labelledby='button-directions'>
                    <input id='state' type='radio' name='bar-controls' value='state'>
                    <label for='state'>States</label>
                    <input id='county' type='radio' name='bar-controls' value='county' checked>
                    <label for='county'>Counties</label>
                </div>
            </div>

            <div class='figure__wrapper'>
                <figure class='bar__figure-single' data-js="bar__figure-single" aria-labelledby="figure__desc">
                    <div class='figure__controls'>
                        <p class='embed'>Embed this chart</p>

                        <div class='search-container' data-selected='county' data-js='search__bar-single'>
                            <label for='location__bar-single'>
                                <span class='search-label'>Location</span>
                            </label>
                            <select name='location__bar-single' id='location__bar-single' aria-hidden='true'
                                tabindex='-1' class='visually-hidden' data-file='singleBars'></select>
                        </div>

                        <p class='figure__desc' id='figure__desc'>
                            Number of properties at risk in <span class='reader'>Flint, Michigan</span> are understated
                            by <span class='FEMA'>FEMA</span> compared to new research by the <span class='FS'>First
                                Street
                                Foundation</span>
                        </p>
                    </div>

                    <div class='figure__container' data-js='bar__container-single'></div>
                </figure>

                <figure class='bar__figure-multi' data-js="bar__figure-multi" aria-labelledby="figure__desc">
                    <div class='figure__controls'>
                        <p class='embed'>Embed this chart</p>

                        <div class='search-container' data-selected='county' data-js='search__bar-multi'>
                            <label for='location__bar-multi'>
                                <span class='search-label'>Location</span>
                            </label>
                            <select name='location__bar-multi' id='location__bar-multi' aria-hidden='true' tabindex='-1'
                                class='visually-hidden' data-file='multiBars'></select>
                        </div>

                        <div class='figure__search'></div>
                        <p class='figure__desc' id='figure__desc'>
                            In <span class='reader'>Michigan</span>, <span class='FS'>First
                                Street</span> identified <span class='count'>421,000</span>
                            additional properties at risk of flooding compared to <span class='FEMA'>FEMA&lsquo;s
                                data</span>.
                        </p>
                    </div>

                    <div class='figure__container' data-js='bar__container-multi'></div>
                </figure>
            </div>


        </div>
    </div>
</section>