<section class="fema-section">
    <p class="section-hed">How does flood risk compare to FEMA’s estimations?</p>
    <p class="section-dek">FEMA is tasked with estimated flood risk for the purposes of flood management and setting flood insurance requirements. First Street Foundation&lsquo;s data provides another perspective, in addition to FEMA&lsquo;s, to determine a property&lsquo;s flood risk.</p>
    <div class="graphic-wrapper">


      <div class="map-wrapper fema-map">

        <p class="subsection-hed">Where are FEMA&lsquo;s flood risk models different from First Street&lsquo;s?</p>
        <p class="subsection-dek">Explore the map and zoom in to see how zipcodes and counties throughout the US compare.</p>


        <div class='controls-container' data-js="">
          <p class='controls-directions' id='button-directions'>View data for:</p>
          <div class='controls-buttons' aria-labelledby='button-directions'>
            <input id='fema-choro-county' type='radio' name='fema-choro-controls' value='county'>
            <label for='fema-choro-county'>Counties</label>
            <input id='fema-choro-zip' type='radio' name='fema-choro-controls' value='zipcode' checked>
            <label for='fema-choro-zip'>Zipcode</label>
          </div>
        </div>

        <div class="title-wrapper">
          <p class="chart-title">Change in # of Properties with a 1% annual likelihood of flooding in <span class="year-selected-map">2020</span>.</p>
          <div class="legend-wrapper">
          </div>
        </div>
        <div class="map">
        </div>
      </div>



      <div class="bar-wrapper" data-js="bars">

          <p class="subsection-hed">How does your community&lsquo;s FEMA estimates compare to First Street&lsquo;s?</p>
          <p class="subsection-dek">Filter the table to see the number of properties in a flood zone, defined as a 1% annual likelihood of flooding in 2020.</p>



            <div class='bar__controls-container controls-container' data-js="bar__controls">
                <p class='controls-directions' id='button-directions'>View data for:</p>
                <div class='controls-buttons' aria-labelledby='button-directions'>
                    <input id='state' type='radio' name='bar-controls' value='state'>
                    <label for='state'>States</label>
                    <input id='county' type='radio' name='bar-controls' value='county' checked>
                    <label for='county'>Counties</label>
                </div>
            </div>

            <div class="search">

            </div>


            <div class='figure__wrapper'>
                <figure class='bar__figure-single' data-js="bar__figure-single" aria-labelledby="figure__desc">
                    <div class='figure__controls'>
                        <p class='embed'>Embed this chart</p>

                        <div class='search-container' data-selected='county' data-js='search__bar-single'>
                            <label for='location__bar-single' class='visually-hidden'>
                                <span class='search-label'>Location</span>
                            </label>
                            <select name='location__bar-single' id='location__bar-single' aria-hidden='true'
                                tabindex='-1' class='visually-hidden' data-file='singleBars'></select>
                        </div>

                        <p class='figure__desc' id='figure__desc'>
                            Number of properties at risk in <span class='reader'>Flint, Michigan</span> are understated
                            by <span class='FEMA'>FEMA</span> compared to new research by the <span class='FS'>First
                                Street
                                Foundation</span>
                        </p>
                    </div>

                    <div class='figure__container' data-js='bar__container-single'></div>
                </figure>

                <figure class='bar__figure-multi' data-js="bar__figure-multi" aria-labelledby="figure__desc">
                    <div class='figure__controls'>
                        <p class='embed'>Embed this chart</p>

                        <div class='search-container' data-selected='county' data-js='search__bar-multi'>
                            <label for='location__bar-multi' class='visually-hidden'>
                                <span class='search-label'>Location</span>
                            </label>
                            <select name='location__bar-multi' id='location__bar-multi' aria-hidden='true' tabindex='-1'
                                class='visually-hidden' data-file='multiBars'></select>
                        </div>

                        <div class='figure__search'></div>
                        <p class='figure__desc' id='figure__desc'>
                            In <span class='reader'>Michigan</span>, <span class='FS'>First
                                Street</span> identified <span class='count'>421,000</span>
                            additional properties at risk of flooding compared to <span class='FEMA'>FEMA&lsquo;s
                                data</span>.
                        </p>
                    </div>

                    <div class='figure__container' data-js='bar__container-multi'></div>
                </figure>
            </div>


        </div>
      <div class="fema-compare-wrapper">

        <p class="subsection-hed">How FEMA&lsquo;s maps compare</p>
        <p class="subsection-dek">Explore the map and zoom in to see how FEMA&lsquo;s map compares to First Street&lsquo;s.</p>

        <div class="title-wrapper">
          <p class="chart-title">Areas with a 1% annual likelihood of flooding.</p>
          <div class='fema__controls-container controls-container'>
              <p class='controls-directions' id='button-directions'>View data for:</p>
              <div class='controls-buttons' aria-labelledby='button-directions'>
                  <input id='fema' type='checkbox' name='fema-controls' value='fema' checked>
                  <label for='fema'>FEMA</label>
                  <input id='first-street' type='checkbox' name='fema-controls' value='first street' checked>
                  <label for='first-street'>First Street</label>
              </div>
          </div>

        </div>


        <div id="fema-map">

        </div>

      </div>
    </div>
</section>
