<div class="intro">
	<p class=hed>Flooding in America</p>
	<p class=dek>How is flooding affecting your community</p>
	<p class="update-date">UPDATED JUNE 17, 2020</p>
	<p>A new peer-reviewed study by The First Street Foundation identified flood risk for every home in America. The model identifies the liklihood that homes will flood both today and 30 years into the future, accounting increases in storm severity and sea level rise due to climate change.  </p>
</div>
