<div class="header">
	<div class="header-title">
		<p class="header-hed">Flooding in America</p>
		<p class="header-dek">A Project by <a href="/">The Pudding</a></p>
	</div>
	<div class="patreon">
		<p>Help fund us on <a href="https://patreon.com/thepudding">Patreon</a></p>
	</div>
</div>
<div class="intro">
	<p class="update-date">Updated Last: June 29, 2020</p>
	<p class=hed>How is flooding affecting your community</p>
	<p>A <a href="https://firststreet.org/flood-lab/research/2020-national-flood-risk-assessment-highlights/" target="_blank">new peer-reviewed study</a> The First Street Foundation projected flood risk for every home in America. The model identified the likelihood that homes will flood both today and 30 years into the future, accounting for increases in storm severity and sea level rise due to climate change.</p>
	<p>We&rsquo;ve aggregated the data into a series of charts and maps that can be embedded by any site, and have been used by <a href="https://www.usatoday.com/in-depth/news/investigations/2020/06/29/real-estate-millions-more-homes-risk-flood-might-need-insurance/3217450001/">USA Today</a>, <a href="https://www.floridatoday.com/story/news/local/2020/06/29/gda-flood-risk-florida-risk-brevard-county-fema/3277148001/">Florida Today</a>, <a href="https://www.freep.com/in-depth/news/local/michigan/2020/06/29/flood-risk-michigan-homes-map-first-street-foundation/3258043001/">The Detroit Free Press</a>, <a href="https://www.providencejournal.com/news/20200628/rising-threat-new-study-finds-thousands-more-properties-at-risk-of-flooding-in-100-year-storm">Providence Journal</a>, <a href="https://beaconjournal.com/news/20200629/whatrsquos-real-flood-danger-in-ohio-more-homes-at-risk-than-thought">Akron Beacon Journal</a>, <a href="https://amp-naplesnews-com.cdn.ampproject.org/c/s/amp.naplesnews.com/amp/3277169001">Naples Daily News</a>, <a href="https://www.savannahnow.com/news/20200629/whats-real-flood-danger-in-georgia-new-data-shows-risk-to-your-home">Savannah Now</a>, <a href="https://www.delawareonline.com/story/news/local/2020/06/29/new-data-shows-delaware-ranks-among-worst-nation-future-flood-risk/3242278001/">Delaware Online</a>, <a href="https://www.heraldtribune.com/news/20200629/north-port-properties-might-be-more-at-risk-of-flooding">Sarasota Herald Tribune</a>, and many others.</p>
</div>
