<div class="intro">
	<p>A Complete Look at Flooding Risk in America</p>
	<p>A new landmark study has calculated the liklihood the flood risk of every property in America over the next 30 years.</p>
	
	<div id="mapbox-map">
	</div>
	<p>By 2050, 40 million properties will likely be affected by flooding do to increased risks from climate change and poor planning.</p>
	<p>That is a big number. Let us put it in context.</p>


	<p>Here’s the Cleveland metro area, about 1,000 properties will be impacted in the next 30 years.</p>


	<p>We know this because First Street released a sweeping study that modeled the present and future of flooding for everywhere in the US. </p>
	<p>For example, here is a map of (region) and its chances of a "100 year flood" this year.</p>
</div>
