<section class="property-section">
  <p class="section-hed">How many properties are affected?</p>
  <p class="section-dek">How is flooding affecting your community</p>

  <div id="city-cluster">
    
  </div>


  <div class="table-wrapper">

    <div class='controls-container' data-js="table__controls">
        <p class='controls-directions' id='button-directions'>View data for:</p>
        <div class='controls-buttons' aria-labelledby='button-directions'>
            <input id='state-table' type='radio' name='table-controls' value='state'>
            <label for='state-table'>States</label>
            <input id='county-table' type='radio' name='table-controls' value='county' checked>
            <label for='county-table'>Counties</label>
            <input id='city-table' type='radio' name='table-controls' value='city'>
            <label for='city-table'>Cities</label>
        </div>
    </div>

    <div class="property-table state-table">
      <div class="search">

        <input autocomplete="off" spellcheck="off" type="text" name="" value="" placeholder="Find a state...">
        <span class="results">
          <div class="results-wrapper">

          </div>
        </span>
      </div>
      <p class="title-wrapper">How <span class="city-selected">Cleveland</span> compares to nearby <span>states</span>.</p>
      <div class="table">
      </div>
    </div>
    <div class="property-table county-table">
      <div class="search">
        <input autocomplete="off" spellcheck="off" type="text" name="" value="" placeholder="Find a county...">
        <span class="results">
          <div class="results-wrapper">
          </div>
        </span>
      </div>
      <p class="title-wrapper">How <span class="city-selected">Cleveland</span> compares to nearby <span class="geo-selected">counties</span>.</p>
      <div class="table">
      </div>
    </div>

    <div class="property-table city-table">
      <div class="search">
        <input autofill="" autocomplete="off" spellcheck="off" type="text" name="" value="" placeholder="Find a city...">
        <span class="results">
          <div class="results-wrapper">

          </div>
        </span>
      </div>
      <p class="title-wrapper">How <span class="city-selected">Cleveland</span> compares to nearby <span class="geo-selected">cities</span>.</p>
      <div class="table">
      </div>
    </div>
  </div>
</section>
