<div class="property-table">
  <div class="search">
    <input type="text" name="" value="" placeholder="Find a city...">
    <span class="results">
      <div class="results-wrapper">
        
      </div>
    </span>
  </div>
  <p class="title-wrapper">How <span class="city-selected">Cleveland</span> compares to nearby cities in the state.</p>
  <div class="table">
  </div>
</div>
